:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: #d6e2f0;
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --verde: #29BF12;
    --shadow: #065143;
    --font-size-p: 15px;
    --qr-color: #2c7cfb;
    --font-family: "Outfit", sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: var(--slate-300);
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

.main-container {
    display: grid;
    grid-template-rows: 0.95fr 0.05fr;
    height: 97vh;
    width: 100%;
}

.main-page {
    display: grid;
    grid-template-columns: 0.70fr 0.3fr;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.fst-half {
    display: flex;
    align-items: left;
    justify-content: center;
    padding: 5%;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main-title {
    margin-bottom: min(0.15em, 5%);
    margin-top: 0px;
    font-size: clamp(3.5rem, 7vw, 10rem);
    color: var(--verde);
}

.inferior {
    display: grid;
    grid-template-columns: 0.70fr 0.3fr;
    justify-content: space-between;
    margin-top: 5px;
}

.form-input1 {
    margin: .6em 0;
    font-size: 1.5em;
    font-family: var(--font-family);
    padding: .3em;
    border: thin solid var(--slate-900);
    border-radius: .3em;
}

.form-input1:focus {
    outline: none;
    border: medium solid var(--verde);
}

.form-button1{
    margin: .4em .3em;
    background-color: var(--verde);
    padding: .5em;
    border-radius: .3em;
    font-family: var(--font-family);
    color: var(--white);
    font-size: 2em;
    width: 80%;
    border: none;
    transition-duration: .2s;
}

.form-button1:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.snd-half {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.qr-code-content {
    display: flex;
    flex-direction: column;
}

.qr-code-generated {
    margin-top: .9em;
    border-radius: .8em;
    border: 25px solid var(--verde);
}

.download-button {
    margin: .3em;
    margin-top: 1em;
    background-color: var(--verde);
    padding: .5em;
    border-radius: .3em;
    font-family: var(--font-family);
    color: var(--white);
    font-size: 1.2em;
    border: none;
    transition-duration: .2s;
}

.download-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.trash-button {
    margin: .3em;
    margin-top: 0em;
    background-color: var(--verde);
    padding: .5em;
    border-radius: .3em;
    font-family: var(--font-family);
    color: var(--white);
    font-size: 1.2em;
    border: none;
    transition-duration: .2s;
}

.trash-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.attribution {
    text-align: center;
}

.user-link {
    color: var(--verde);
}

@media(max-width: 850px){
    .main-container{
        height: 125vh;
        width: inherit;
    }
    .main-page{
        grid-template-rows: 0.6fr 0.4fr;
        grid-template-columns: 1fr;
        width: inherit;
    }
    .fst-half, .snd-half {
        padding: 0em;
    }
    .form-input1 {
        width: 100%;
    }
}

